{% if settings['enable-flash-image'] %}
  {% if settings.flash_image != blank %}
    <div class="flash-wrapper" id="FlashWrapper">
      <div class="flash-image">
        <img src="{{ settings.flash_image |img_url:'master' }}">
      </div>
    </div>
  {% endif %}
{% endif %}
<style>
    .flash-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      right: 0;
      justify-content: center;
      background: #ffff;
      z-index:99;
  }
  .flash-wrapper.in-active{
      opacity: 0;
      visibility: hidden;
    }
</style>
<script>
    const myTimeout = setTimeout(myGreeting, 2000);

  function myGreeting() {
    document.getElementById("FlashWrapper").classList.add('in-active');
  }
  window.addEventListener("beforeunload", (event) => {
      document.getElementById("FlashWrapper").classList.remove('in-active');
  })
</script>
