{% render 'card-product',
  card_product: product,
  media_aspect_ratio: section.settings.image_ratio,
  show_secondary_image: section.settings.show_secondary_image,
  show_vendor: section.settings.show_vendor,
  show_rating: section.settings.show_rating,
  show_quick_add: section.settings.enable_quick_add,
  section_id: section.id
%}
{%- assign product_form_id = 'product-form-' | append: section.id -%}

{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when '@app' -%}
      {% render block %}
    {%- when 'variant_picker' -%}
      {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
    {%- when 'buy_buttons' -%}
      {%- render 'buy-buttons',
        block: block,
        product: product,
        product_form_id: product_form_id,
        section_id: section.id,
        show_pickup_availability: true
      -%}
  {%- endcase -%}
{% endfor %}
<div {{ block.shopify_attributes }}>
  {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
  {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    {{ form | payment_terms }}
  {%- endform -%}
</div>
