
/* tabbing */
.tabcontent {
  display: none;
  }
  .tabcontent.active {
  transition: all 1s ease;
  display: block;
  }
.tablinks.active h3 {
    background: gainsboro;
    border: 1px solid;
    padding: 2px 10px;
    border-radius: 3pc;
}
  .tabs {
    display: flex;
    gap: 56px;
    border: 1px solid;
    width: 21%;
    justify-content: center;
    border-radius: 30px;
}
  .wrapper_tabcontent {
    padding-top: 50px;
}
.collection-carousel{
    overflow: inherit;
}
/* .product-size-container {
    position: absolute;
    bottom: 153px;
    border: 1px solid;
    z-index: 1;
    width: 95%;
    margin: 0 auto;
}

.quick-ad {
    text-align: center;
} */

/* product*/
 .product-size-wrapper {
    border-radius: 47px;
    position: absolute;
    top: 208px;
    border: 1px solid;
    background: #eee;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
   z-index:1;
  

}
.quick-ad {
    text-align: center;
    padding: 8px;
}
.product-size-selector {

    width: 73%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}  
.size-selector {
    width: 3rem;
    border: 1px solid;
    border-radius: 6px;
    text-align: center;
}

.product-variant-images {
    display: flex;
    flex-wrap: wrap;
}
input.single-size-selector {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}
.radius-30{
  border-radius:30px;
}
.radius-20{
  border-radius:30px;
}

